img.imagechange{width:300px;height:300px;}
img.imagechange2{width:500px;height:200px;}
img.imagechange11{width:500px;height:500px;}
img.imagechange12{width:500px;height:500px;}
img.imagechange13{width:500px;height:500px;}
img.imagechange14{width:500px;height:500px;}
img.imagechange21{width:500px;height:500px;}
img.imagechange22{width:500px;height:500px;}
img.imagechange23{width:500px;height:500px;}
img.imagechange24{width:500px;height:500px;}
